<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <title>Mostrar servicios</title>
    <style>
        .container {
            max-width: 1350px;
        }
    </style>
    <link rel="stylesheet" href="main.css">


</head>
<body>
<%- include('partials/tabNavigation') %>

<% if(alert_service_delete){ %>
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>Servicio Eliminado!</strong> Eliminado correctamente el servicio: <%= alert_service_delete %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
<% } %>

<div class="container">

    <h1>Tus servicios!</h1>
    <div class="shadow-lg pb-3 mb-5 bg-body rounded ">
        <table id="tablaServices" class="table mt-4">
            <thead>
            <tr>
                <th style="display:none">id</th>
                <th>Nombre Servicio</th>
                <th>Grpc's Asociados

                </th>

            </tr>
            </thead>
            <tbody>
            <% servicios.forEach( (servicio) => { %>
                <tr style="background-color: #10434e;">
                    <td style="display:none"><%= servicio._id %></td>
                    <td><span class="service-name-display"><%= servicio.name %> </span></td>
                    <td>
                        <% var i = 1; %>
                        <!-- Display the description of a whole service -->
                        <ul>
                            <% servicio.grpcs.forEach((grpc) => { %>

                                <li><a style="color:#fffbf3">[<%= i %>] </a>
                                    <span class="rpc-name-display"> <%= grpc.rpcName %></span>

                                    <ul class="grpc-messages">

                                        <!-- START Parameter Type Description-->
                                        <li><a style="color:#fffbf3">Parameter type:</a> <span
                                                    class="arg-type-display"> <%= grpc.argsType.messageName %></span>
                                            <!-- START Subtype description-->
                                            <ul>
                                                <%
                                                    let argMessageFields = grpc.argsType.messageFields;
                                                argMessageFields.forEach( grpcMessageField => {
                                                %>
                                                    <li>
                                                        <span class="variable-name-display"><%= grpcMessageField.dataName %></span>
                                                        <span style="color:#1bf3d7"> (<%= grpcMessageField.dataType %>)</span>
                                                    </li>
                                                <% }); %>
                                            </ul>
                                            <!-- END Subtype description-->
                                        </li>

                                        <!-- END Parameter Type Description-->

                                        <!-- START Return Type Description-->

                                        <li><a style="color:#fffbf3">Return type:</a> <span
                                                    class="return-type-display"> <%= grpc.returnType.messageName %></span>

                                            <!-- START Subtype description-->
                                            <ul>
                                                <% let retMessageFields = grpc.returnType.messageFields;
                                                retMessageFields.forEach( grpcMessageField => {
                                                %>
                                                    <li>
                                                        <span class="variable-name-display"><%= grpcMessageField.dataName %></span>
                                                        <span style="color:#1bf3d7"> (<%= grpcMessageField.dataType %>)</span>
                                                    </li>
                                                <% }); %>
                                            </ul>
                                            <!-- END Subtype description-->
                                        </li>
                                        <!-- END Return Type Description-->
                                    </ul>


                                </li>
                                <% i++; %>
                            <% }) %>
                        </ul>
                    </td>
                    <td>
                        <a href="/delete_service/<%= servicio._id %>/<%= servicio.name %>"
                           class="btn btn-outline-danger bi bi-trash" onclick="return confirm('Are you sure?');"></a>
                    </td>

                </tr>

            <% }) %>
            </tbody>
        </table>
    </div>
</div>


<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>


</body>
</html>


<!-- Optional JavaScript; choose one of the two! -->
